---
layout: layout.vto
title: Tags
---
<h1>Tags</h1>
<ul>
    {{ for t of tagData }}
        <li><a href="/tag/{{ t |> slugify }}">{{ t }}</a> ({{ sites.filter(s => s.tags?.includes(t)).length }} site{{ sites.filter(s => s.tags?.includes(t)).length == 1 ? '' : 's' }})</li>
    {{ /for }}
</ul>
