---
layout: layout.vto
pagination:
  data: tagData
  size: 1
  alias: tag
  addAllPagesToCollections: true
permalink: "/tag/{{ tag |> slugify }}/"
eleventyComputed:
  title: "Sites tagged {{ tag }}"
---

<h1>Sites tagged {{ tag }}</h1>
<a href="/tag/">(See all tags)</a>
<div id="listing">
    {{ for site of sites.filter(s => s.tags?.includes(tag)) }}
        {{ include "sitebox.vto" { site: site } }}
    {{ /for }}
</div>
