<div id="oc-webring-widget">
    <div id="oc-webring-widget-title">OC Webring</div>
    <div>
        <a href="/prev/?site={{ site }}">Previous</a>
        <a href="/rand/?site={{ site }}">Random</a>
        <a href="/next/?site={{ site }}">Next</a>
    </div>
</div>
