---
layout: layout.liquid
title: 内容图
lang: zh
---
<style>a { color: var(--text); }</style>
<h1>内容图</h1>
<ul>
{% for page in collections.all %}
    <li><a href="{{ page.url }}">{{ page.data.title }}</a></li>
{% endfor %}
</ul>